:root {
  --color-primary-white: #ffffff;
  --color-primary-blue-light: #2b7fff;
  --color-primary-blue-dark: #011c44;
  --color-secondary-grey-dark: #4a4a4a;
  --color-secondary-grey-light: #747272;
  --color-secondary-blue-dark: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-secondary-black: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
