.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    height: 106px;
    backdrop-filter: blur(10px);
    padding: 32px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 48px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 48px;
      flex-grow: 1;
      padding: 0;
      justify-content: center;
    }
  }

  &__icons {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
      align-items: center;
    }
  }

  &__link {
    color: var(--color-primary-blue-dark);
  }

  &__link:hover {
    color: var(--color-primary-blue-light);
    font-weight: 700;
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-white);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
